Repository foodXchange/FDX-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, components, features, styles, test, configuration, ci-cd, dependencies, security, types

.github/labeler.yml:

# Configuration for PR labeler
# https://github.com/actions/labeler

# Add 'documentation' label to any change in docs files
documentation:
  - README.md
  - docs/**/*
  - '*.md'

# Add 'frontend' label to any frontend file changes
frontend:
  - src/**/*
  - public/**/*

# Add component-specific labels
components:
  - src/components/**/*

features:
  - src/features/**/*

styles:
  - '**/*.css'
  - '**/*.scss'
  - src/styles/**/*

# Add 'test' label to test files
test:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '__tests__/**/*'

# Configuration changes
configuration:
  - package.json
  - package-lock.json
  - tsconfig.json
  - .eslintrc*
  - .prettierrc*
  - '*.config.js'
  - '*.config.ts'

# CI/CD changes
ci-cd:
  - .github/workflows/*
  - .github/**/*

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

# Security-related changes
security:
  - .env*
  - src/services/auth*
  - src/config/security*

# Type definitions
types:
  - '**/*.d.ts'
  - src/types/**/*
  - src/shared/types/**/*

feat: Implement comprehensive RFQ Management and Compliance System
  src/features/compliance/ComplianceDashboard.tsx
  src/features/rfq/CreateRFQ.tsx
  src/features/rfq/RFQDashboard.tsx
  src/features/rfq/RFQDetail.tsx
  src/features/rfq/RFQList.tsx
Labels: frontend, features

WIP: save current local changes before sync
  .claude/settings.local.json
  package-lock.json
  package.json
  src/components/onboarding/OnboardingTour.tsx
  src/components/ui/EmptyState.tsx
  src/components/ui/ProgressIndicator.tsx
  src/components/ui/SkeletonLoader.tsx
  src/components/ui/StatusBadge.tsx
  src/components/ui/Toast.tsx
  src/components/ui/Tooltip.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/table.tsx
  src/components/ui/tabs.tsx
  src/features/compliance/ComplianceDashboard.tsx
  src/features/dashboard/EnhancedDashboard.tsx
  src/features/dashboard/TrackingDashboard.tsx
  src/features/dashboard/index.ts
  src/features/documents/DocumentUploadCenter.tsx
  src/features/documents/index.ts
  src/features/monitoring/TemperatureMonitor.tsx
  src/features/monitoring/index.ts
  src/features/orders/OrderLinesTable.tsx
  src/features/orders/StandingOrderManager.tsx
  src/features/orders/index.ts
  src/features/rfq/CreateRFQ.tsx
  src/features/rfq/RFQDashboard.tsx
  src/features/rfq/RFQDetail.tsx
  src/features/tracking/SampleTracker.tsx
  src/features/tracking/index.ts
  src/features/validation/SpecValidator.tsx
  src/hooks/index.ts
  src/hooks/useDashboardMetrics.ts
  src/hooks/useOrderTracking.ts
  src/hooks/useSampleTracking.ts
  src/services/complianceService.ts
  src/services/rfqService.ts
  src/services/validationService.ts
  src/shared/types/index.ts
  yarn.lock
Labels: frontend, components, features, configuration, dependencies, types

feat: Add AI services integration and enhance error handling
  .claude/settings.local.json
  craco.config.js
  package-lock.json
  package.json
  src/config/ai.config.ts
  src/hooks/useAI.ts
  src/hooks/useDashboardMetrics.ts
  src/services/ai/README.md
  src/services/ai/aiService.ts
  src/services/ai/analytics/marketIntelligenceService.ts
  src/services/ai/analytics/recommendationEngine.ts
  src/services/ai/analytics/supplierMatchingService.ts
  src/services/ai/analytics/supplyChainOptimizationService.ts
  src/services/ai/index.ts
  src/services/ai/nlp/documentIntelligenceService.ts
  src/services/ai/nlp/naturalLanguageInterface.ts
  src/services/ai/nlp/searchService.ts
  src/services/ai/predictions/demandForecastingService.ts
  src/services/ai/predictions/priceOptimizationService.ts
  src/services/ai/types/index.ts
  src/services/api-client.ts
  src/utils/errorReporting.ts
  yarn.lock
Labels: frontend, configuration, dependencies

feat: Implement comprehensive onboarding system for sellers and buyers
  src/components/onboarding/BuyerOnboardingTour.tsx
  src/components/onboarding/InteractiveDemoComponents.tsx
  src/components/onboarding/OnboardingManager.tsx
  src/components/onboarding/SellerOnboardingTour.tsx
  src/components/onboarding/index.ts
  src/hooks/useOnboardingAnalytics.ts
Labels: frontend, components

fix: Resolve TypeScript compilation errors and JSX syntax issues
  .claude/settings.local.json
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/ErrorBoundary/AsyncErrorBoundary.tsx
  src/components/ErrorBoundary/RouteErrorBoundary.tsx
  src/components/layout/Breadcrumbs.tsx
  src/components/onboarding/InteractiveDemoComponents.tsx
  src/components/onboarding/OnboardingManager.tsx
  src/components/onboarding/index.ts
  src/components/providers/StoreProvider.tsx
  src/components/ui/Modal.tsx
  src/components/ui/NotificationContainer.tsx
  src/features/auth/ForgotPassword.tsx
  src/features/auth/Login.tsx
  src/features/auth/Register.tsx
  src/features/auth/ResetPassword.tsx
  src/hooks/useModal.ts
  src/store/useAppStore.ts
Labels: frontend, components, features

fix: Resolve additional TypeScript compilation errors
  src/features/auth/Register.tsx
  src/features/auth/Unauthorized.tsx
  src/features/orders/StandingOrderManager.tsx
  src/features/profile/Profile.tsx
  src/features/profile/Settings.tsx
  src/pages/NotFound.tsx
  src/utils/debug.ts
Labels: frontend, features
